<div class="container-fluid">
  <div class="row">
    <!-- Thanh tùy chọn bên trái -->
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-dark text-light sidebar"
      style="height: 100vh; position: fixed;"
    >
      <div class="position-sticky pt-3">
        <h4 class="px-3">Trang chủ</h4>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              class="nav-link active text-light"
              aria-current="page"
              href="/admin/manager-users"
            >
              <i class="fas fa-users"></i> Quản lý người dùng
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/manager-news">
              <i class="fas fa-user-edit"></i> Quản lý bài đăng
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-light" href="/admin/manage-posts">
              <i class="fas fa-newspaper"></i> Quản lý bài viết
            </a>
          </li> -->
        </ul>
      </div>
    </nav>

    <main
      class="col-md-9 ms-sm-auto col-lg-10 px-md-4"
      style="margin-left: auto;"
    >
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Quản lý thành viên</h1>
      </div>

      <div class="table-responsive">
        <div>Tổng số user: <%= countUser %></div>
        <div>Tổng số người đăng: <%= countAuthor %></div>
        <div>Tổng số bài viết: <%= countNews %></div>
      </div>
    </main>
  </div>
</div>

<!-- FontAwesome for icons -->
<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>
