<div class="container" style="max-width: 400px; margin-top: 100px">
  <h1 class="text-center" style="margin-bottom: 30px">Đăng nhập</h1>
  <form
    id="login-form"
    action="/login"
    method="post"
    style="
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      background-color: #f9f9f9;
    "
  >
    <div id="error-message" style="color: red; margin-bottom: 20px"></div>
    <div class="form-group" style="margin-bottom: 20px">
      <label for="username" style="font-weight: bold; margin-bottom: 10px"
        >Tên đăng nhập:</label
      >
      <input
        type="text"
        class="form-control"
        name="username"
        id="username"
        placeholder="Tên đăng nhập"
        style="padding: 10px; border: 1px solid #ddd; border-radius: 4px"
      />
    </div>
    <div class="form-group" style="margin-bottom: 20px">
      <label for="password" style="font-weight: bold; margin-bottom: 10px"
        >Mật khẩu:</label
      >
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        placeholder="Mật khẩu"
        style="padding: 10px; border: 1px solid #ddd; border-radius: 4px"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      style="width: 100%; padding: 10px; font-size: 16px; border-radius: 4px"
    >
      Login
    </button>
  </form>
</div>
<script>
  $("#login-form").on("submit", function (e) {
    e.preventDefault();
    const username = $("#username").val();
    const password = $("#password").val();
    $.ajax({
      url: "/login",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify({ username, password }),
      success: function (data) {
        localStorage.setItem("role", data.data.role);

        if (data.data.role === "user") {
          window.location.href = "/";
        }
        if (data.data.role === "admin") {
          window.location.href = "/admin";
        }
        localStorage.setItem("username", data.data.username);
      },
      error: function (xhr) {
        const err = xhr.responseJSON.error;
        $("#error-message").text(err);
      },
    });
  });
</script>
