<header
  style="
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px 20px;
  "
>
  <div
    class="container-fluid"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div id="logo-button"></div>
    <!-- <div style="font-size: 1.5rem; font-weight: bold">NEWS</div> -->
    <div id="auth-buttons" style="display: flex; gap: 10px"></div>
  </div>
</header>
<div style="margin-bottom: 63px"></div>

<script>
  $(document).ready(function() {
    const $authButtons = $("#auth-buttons");
    const $logoButton = $("#logo-button");
    const username = localStorage.getItem("username");
    const role = localStorage.getItem("role");
    const accessToken = getCookie("accessToken");

    function updateAuthButtons() {
      if (username && accessToken) {
        $authButtons.html(`
          <span style="align-self: center;">${username}</span>
          <button type="button" class="btn btn-outline-danger" id="logout-button">Đăng xuất</button>
        `);
      } else {
        $authButtons.html(`
          <a href="/login" style="text-decoration: none; color: inherit;">
            <button type="button" class="btn btn-outline-success">Đăng nhập</button>
          </a>
          <a href="/register" style="text-decoration: none; color: inherit;">
            <button type="button" class="btn btn-outline-primary">Đăng kí</button>
          </a>
        `);
        localStorage.removeItem("username");
      }
    };
    function updateLogoButtons() {
      if (role === 'admin'){
        $logoButton.html(`
          <a href="/admin" style="font-size: 1.5rem; font-weight: bold; color: inherit; text-decoration: none;">NEWS</a>
        `);
      }else (
        $logoButton.html(`
          <a href="/" style="font-size: 1.5rem; font-weight: bold; color: inherit; text-decoration: none;">NEWS</a>
        `)
      )
    };

    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(";").shift();
    };
    updateLogoButtons();
    updateAuthButtons();

    $(document).on("click", "#logout-button", function () {
      $.ajax({
        url: "/logout",
        type: "POST",
        contentType: "application/json",
        success: function (data) {
          console.log("Đăng xuất thành công");
          localStorage.removeItem("username");
          localStorage.removeItem("role");
          document.cookie = "accessToken=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/";
          window.location.href = "/login";
        },
        error: function (xhr) {
          console.error("Lỗi đăng xuất:", xhr.responseText);
        }
      });
    });
  });
</script>
